*

# except
!.gitignore
!*.m
!*.h
!*.c
!*.cpp
!*.md
!*.tex
!*.svg

# even if in sub-dirs
!*/

# but never in these folders
*back/
*arch/
*.vscode/
./ISMRM-Perfusion-Workshop-Pamplona-2025/ASL/sequence/PulCeq/
